.btn {
  border-radius: 8px;
}
.btn-line {
  padding: 16px 56px;
  border: 1px solid #000;
  font-size: 16px;
  line-height: 24px;
  background-color: #fff;
  &.white {
    border-color: #fff;
    color: #fff;
    background-color: transparent;
  }
}

.btn-bg {
  padding: 12px 64px;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
}
