.btn {
  border-radius: 8px;
}
.btn-line {
  max-width: fit-content;
  padding: 16px 56px;
  border: 1px solid #000;
  font-size: 16px;
  line-height: 24px;
  background-color: transparent;
  &.white {
    border-color: #fff;
    color: #fff;
  }
}

.btn-bg {
  padding: 12px 64px;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
}

.icon-btn {
  &.size-32 {
    padding: 0;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.link_btn {
  border-radius: 8px;
  max-width: fit-content;
  padding: 16px 56px;
  font-size: 16px;
  line-height: 24px;
  background-color: transparent;
  &.white_line {
    border: 1px solid #fff;
    color: #fff;
  }
  &.black_line {
    border: 1px solid #000;
    color: #000;
  }
}
