#root {
  min-width: 360px;
}
.inner {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
// 탑 배너
.top_banner {
  width: 100%;
  height: 632px;
  background: linear-gradient(90.7deg, #211c24 0.64%, #211c24 101%);
  .inner {
    height: 100%;
    display: flex;
    align-items: center;
    background: url('../../images/img_top_banner.png') 100% no-repeat;
  }
  .top_banner_txt {
    span {
      color: #909090;
    }
    .top_txt {
      font-size: 25px;
      font-weight: 600;
      line-height: 32px;
    }
    .bottom_txt {
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
    }
    p {
      color: #fff;
      font-weight: 100;
      font-size: 96px;
      line-height: 76px;
      margin: 24px 0;
      strong {
        font-weight: 600;
      }
    }
    .link_btn {
      display: block;
      margin-top: 24px;
    }
  }
}

//상품 배너
.prod_banner {
  height: 600px;
  display: flex;
  .prod_banner_area {
    width: 50%;
    &:first-of-type {
      display: flex;
      flex-wrap: wrap;
    }
    &:last-of-type {
      background: #ededed;
    }

    .item_area {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 12px 0 0;
      &.playstation {
        width: 100%;
        justify-content: flex-start;
        .txt_area {
          strong {
            font-size: 49px;
            line-height: 40px;
            font-weight: 500;
          }
        }
      }
      &.airpods {
        width: 50%;
        background: #ededed;
        .txt_area {
          strong {
            font-size: 29px;
            line-height: 40px;
            font-weight: 500;
            span {
              display: block;
              font-weight: 300;
            }
          }
        }
      }
      &.visionpro {
        width: 50%;
        background: #353535;
        .txt_area {
          color: #fff;
          strong {
            font-size: 29px;
            line-height: 40px;
            font-weight: 500;
            span {
              display: block;
              font-weight: 300;
            }
          }
        }
      }
      &.macbook {
        height: 100%;
        flex-direction: row-reverse;
        padding-left: 56px;
        padding-right: 0;
        .txt_area {
          strong {
            font-size: 64px;
            line-height: 56px;
            font-weight: 500;
            span {
              display: block;
              font-weight: 100;
            }
          }
          .link_btn {
            display: block;
            margin-top: 16px;
          }
        }
        .img_area {
          margin-right: 0px;
        }
      }
      .img_area {
        margin-right: 6px;
        flex-shrink: 1;
      }
    }
    .txt_area {
      p {
        max-width: 200px;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        color: #909090;
        margin-top: 16px;
      }
    }
  }
}

// 공통
.mo_view {
  display: none;
}

// 반응형
@media (max-width: 1024px) {
  //공통
  .pc_view {
    display: none;
  }
  .mo_view {
    display: block;
  }
  // 탑 배너
  .top_banner {
    height: 769px;
    .inner {
      padding: 88px 12px 0 12px;
      align-items: flex-start;
      justify-content: center;
      background: url(/src/assets/images/img_top_banner.png) center 170%
        no-repeat;
      background-size: 343px;
      .top_banner_txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        p {
          font-size: 72px;
        }
      }
    }
  }
  // 상품 배너
  .prod_banner {
    flex-direction: column;
    height: auto;
    .prod_banner_area {
      width: 100%;
      .item_area {
        flex-direction: column;
        padding: 40px 12px;
        text-align: center;
        &.airpods {
          width: 100%;
          order: 0;
          .txt_area {
            color: #000;
            strong {
              span {
                display: inline;
              }
            }
          }
        }
        &.visionpro {
          width: 100%;
          order: 1;
          .txt_area {
            color: #fff;
            strong {
              span {
                display: inline;
              }
            }
          }
        }
        &.playstation {
          order: 2;
          .txt_area {
            strong {
              font-size: 34px;
              line-height: 40px;
            }
          }
        }
        &.macbook {
          flex-direction: column;
          padding: 40px 12px;
          .txt_area {
            color: #000;
            strong {
              font-size: 34px;
              line-height: 40px;
              span {
                display: inline;
              }
            }
          }
        }
      }
      .txt_area {
        margin-top: 6px;
        p {
          max-width: 100%;
        }
      }
    }
  }
}
