.inner {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.top_banner {
  width: 100%;
  height: 632px;
  background: linear-gradient(90.7deg, #211c24 0.64%, #211c24 101%);
  .inner {
    height: 100%;
    display: flex;
    align-items: center;
    background: url('../../images/img_top_banner.png') 100% no-repeat;
  }
  .top_banner_txt {
    span {
      color: #909090;
    }
    .top_txt {
      font-size: 25px;
      font-weight: 600;
      line-height: 32px;
    }
    .bottom_txt {
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
    }
    p {
      color: #fff;
      font-weight: 100;
      font-size: 96px;
      line-height: 76px;
      margin: 24px 0;
      strong {
        font-weight: 600;
      }
    }
    .link_btn {
      display: block;
      margin-top: 24px;
    }
  }
}
